{% extends "base.html" %}

{% block content %}
   <!-- <form action="" method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Wyślij" />
</form>
-->

    <div class="main-block">



        <button type="button" class="nl-pl">Tłumacz</button>
        <button type="button" class="save">Zapisz</button>
        <br>
        <br>
        <textarea class="input-text"></textarea>
        <textarea class="output-text"></textarea>

    <div>

{% endblock %}